#nome-ofc{
    text-align: center;
}

#formato-texto{
    padding: 0px 70px 50px;
}

.texto{
    text-align: center;
    text-align: justify;
}

#lado-a-lado{
    display: flex; /* Imagem uma ao lado da outra*/
    justify-content: space-around; /* espaços iguais entre as imagens e deixa no meio da tela */
}

.imgs{
    width: 35%;
    height: 350px;
    margin: auto;
    border: solid black
}

#autor{
    text-align: center;
}