#ul-navegacao{
    text-align: center;
    list-style: none; /* tira a marcacao de listas */
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: rgb(0, 0, 0);
    border: solid white 1px;
}

.li-navegacao{
    display:inline-block;
    border-right: solid rgb(255, 255, 255);
    color: white;
}

.li-navegacao:last-child{
    border-right: none;
}

.a-navegacao{
    display: block;
    color: rgb(255, 255, 255);
    padding: 15px 80px;
    text-align: center;
}

.a-navegacao:hover{
    background-color: rgb(84, 84, 84);
    transform: translateX(20px) scale(1.3);
}

#formato-texto{
    padding: 50px 30px 0px 30px;
}

.texto{
    text-align: center;
    text-align: justify;
}

#lado-a-lado{
    display: flex; /* Imagem uma ao lado da outra*/
    justify-content: space-around; /* espaços iguais entre as imagens e deixa no meio da tela */
}

.imgs{
    width: 100%;
    margin: auto;
    border: solid black
}

.creditos-imagens{
    text-align: center;
    margin-top: 3.5%;
}

#autor{
    text-align: center;
    color: white;
}

footer{
    background-color: black;
}