@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  height: 100vh;
  color: white;
  background-color: #000000;
}

.apresentacao{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 8%;
  text-align: justify;
}

.apresentacao__conteudo{
  width: 680px;
}

.apresentacao__conteudo__titulo{
  font-size: 36px;
  font-family: 'Krona One', sans-serif;

}

.titulo-destaque{
  background: -webkit-linear-gradient( #3854f7, #ffa6ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.apresentacao__conteudo__paragrafo{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;}

.apresentacao__links{
  display: flex;
  justify-content: space-between;
}

.apresentacao__links__link {
  width: 200px;
  background: -webkit-linear-gradient( #3854f7, #ffa6ce);
  padding: 16px;
  border-radius: 16px;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

#foto-akley{
  padding: 0.099%;
  width: 400px;
  height: 580px;
  border-style: solid;
  border-image: linear-gradient(to right, #3854f7, #ffa6ce) 1;
}